body{
    font-family: 'Rubik', sans-serif !important;
}


.navbar{
    height: 100px !important;
}

.card-container{
    min-height: 100vh;
    display: flex;   
    position: relative;
}

.card{
    width: 25rem;
}

h5{
    text-align: center;
}

.card-height{
    min-height: 610px;
}

.card-sub-sontainer{
    width: 80%;
    background-image: url('img/question-mark-bg2.jpg');
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-menu{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}

.hamburger-menu img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    background-color: white !important;
    margin-top: 15px;
}

.q-box{
    width: 100%;
}

.howmanyquestions{
    display: flex;
    align-items: center;
}

.howmanyquestions p{
    margin-bottom: 0;
    text-align: center;
}

.sidebox{ 
    background-color: #212529;
    width: 20%;
}

.sidebar-logo{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
   color: #dd6611 !important;
   font-weight: bold;
   width: 120px;
}

.nav-link:hover{
    border-left: #dd6611 solid 2px;
}

.border-orange{
    border-left: #dd6611 solid 2px !important;
}

.border-transparent{
    border-left: transparent solid 2px;
}

.d-none{
    display: none;
}

.bg-right{
    background-color: rgb(108, 187, 4) !important;
}

.bg-false{
    background-color: rgb(221, 130, 130) !important;
}

.answer-text{
    width: 100% !important;
    height: 100% !important;
}

.bg-selection:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.answer-container{
    position: relative;
}

.sub-answer-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.white-color{
    color: white;
}

#overlay-container img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.overlay-endofquiz{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.progress-bar{
    background-color: #dd6611 !important;
}

.btn-primary{
    background-color: #dd6611 !important;
    border: none !important;
}

.btn-primary:hover{
    background-color: #e29156 !important;
}

.btn-play-again{
    min-height: 36px;
    width: 125px;
}

.m-10{
   margin: 10px;
}

.flex-column{
    align-items: center;
}


@media (max-width: 550px){
    .sidebox{ 
        display: none;
    }

    .card-sub-sontainer{
        width: 100%;
    }

    .hamburger-menu{
        display: block;
    }

}

@media (max-width: 410px){
    .card{
        width: 100%;
    }

    #allquestions{
        font-size: 13px;
    }
}

@media (max-width: 320px){
    h5{
        font-size: 1rem !important;
    }
    .answer-text {
        font-size: 0.9rem;
    }   

    .card-body{
        padding: 0.5rem 0.5rem;
    }

    #allquestions{
        font-size: 12px;
    }

    .btn-primary{
        font-size: 13px !important;
        width: 100px;
        height: 50px !important;
    }

    .card-height{
        height: 100vh;
    }

    .hamburger-menu{
       z-index: 100;
       top: 5px;
       right: 5px;
    }

    .hamburger-menu img{
        width: 40px;
        height: 40px;
    }
}   