.navbar{
    height: 100px !important;
}

.card-container{
    min-height: 100vh;
    display: flex;   
}

.card{
    width: 25rem;
}

h5{
    text-align: center;
}

.card-height{
    min-height: 610px;
}

.card-sub-sontainer{
    width: 80%;
    background-image: url('img/question-mark-bg2.jpg');
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    background-color: white !important;
    margin-top: 15px;
}

.q-box{
    width: 100%;
}

.howmanyquestions{
    display: flex;
    align-items: center;
}

.howmanyquestions p{
    margin-bottom: 0;
}

.sidebox{ 
    background-color: #212529;
    width: 20%;
}

.sidebar-logo{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none{
    display: none;
}

.bg-right{
    background-color: rgb(108, 187, 4) !important;
}

.bg-false{
    background-color: rgb(221, 130, 130) !important;
}

.answer-text{
    width: 100% !important;
    height: 100% !important;
}

.bg-selection:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.answer-container{
    position: relative;
}

.sub-answer-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.white-color{
    color: white;
}

#overlay-container img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}



.overlay-endofquiz{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}